.DS_Store
Thumbs.db
*.swp
*.swo
.env
*.env.local
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.tmp
*.temp
*.log

/bitrix/
/upload/
/images/

/bitrix/cache/*
/bitrix/managed_cache/*
/bitrix/stack_cache/*
/bitrix/backup/*
/upload/*
/local/cache/

/bitrix/php_interface/dbconn.php
/bitrix/.settings.php
/bitrix/.settings_extra.php
/bitrix/private/

/vendor/
/node_modules/
/composer.lock

/.trash/
/.well-known/
/error_docs/

!/bitrix/php_interface/init.php
!/local/